.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.studentListContainer {
  overflow: auto;
  flex-grow: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.spinner {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
}
